@font-face {
    font-family: 'Ostrich';
    src: url('ostrich-sans-inline-regular.eot');
    src: url('ostrich-sans-inline-regular.eot?#iefix') format('embedded-opentype'),
         url('ostrich-sans-inline-regular.woff') format('woff'),
         url('ostrich-sans-inline-regular.ttf') format('truetype'),
         url('ostrich-sans-inline-regular.svg') format('svg');
    font-weight: normal;     
}

body {

	background:url(../images/background.jpeg);
	background-size: cover;
	

}

h1 {
     font-family: 'Ostrich';
     font-weight: normal;
	 font-size: 80px;

}

#active-board {

	text-align: center;
    margin-top: 10px;
}

#active-board button {

	margin-top: 10px;
}


.board-tile {

	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #34495e;
	margin: 0px 5px;

	border-radius: 10px;
}

.board-tile.player_X {

	/*background: #9b59b6;*/
	background-image:url("../images/x.png");
}

/*look for two classes in the same element if there is a space then it looks for decendent*/
.board-tile.unselected-tile {

	background: white;
	
}

.board-tile.player_O{

	/*background: #16a085;*/
	background-image:url("../images/o.png");
}

.game-board {



width: 400px;
height: 800px;
margin: 0 auto;
/*background: white;*/
  text-shadow: 1px 1px 2px #333;
   background-color: rgba(0,0,0,.3);


}



.message-win{ 

         		color: red;
         		margin: auto;
         		padding: 0;
         		text-align: 0;

 }