<!DOCTYPE html>

<html ng-app="tttApp">
	<head>
		<meta charset="utf-8">

<!-- Make the board change and say Ding, Dang, Dong Merry Christmas -->

		<title>Tic, Tac, Toe</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
			<script src="js/angular.js"></script>

		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	
		<script src="js/app.js"></script>
		<script src="js/gameboard.js"></script>
		<script src="js/Player.js"></script>
		
		<script src="js/tttController.js"></script>
		
	</head>

	<body>

		<!-- <section id="lobby" ng-controller="TicTacToeFactory as fire">

		 <button ng-click="fire.room.playerTurn = (fire.room.playerTurn + 1) % 2; fire.room.$save();" ng-show="fire.playerNumber === fire.room.playerTurn"  ng-class="fire.room.getLobby($index)">Players Turn</button>
            {{ fire.room.name }}

              player number: {{ fire.room.playerNumber}}

       Number of Players:  {{ fire.room.numPlayers }}

       </section> -->
<!-- 
{{game.gameName}} -
number of tiles: {{ game.activeBoard.numTiles }} -->

<!-- <h1>{{ game.activeBoard.tiles }}</h1> -->
<section id="active-board" ng-controller="TicTacToeController as game">

	<div class="game-board">

		   
<!-- ng-hide or ng-show to click for players turn -->
      

            <span> Score: </span><span> Player X: 0 </span> <span> Player O: 0 </span>

	<h1>Tic, Tac, Toe</h1>

	<p>
	<button>Play!</button>

	</p>
	<p>Player X Go!</p>

		
		<div class="board-tile" ng-repeat="tile in game.activeBoard.tiles track by $index " ng-click="game.activeBoard.toggleTile($index)" ng-class="game.activeBoard.getTileState($index)">

			<!-- {{ $index }} --> 
			

		</div>

		


	

	</div>
		

	<p><a href="index.html"><button>Refresh</button></a></p>



	
	


</section>

	</body>
</html>
